* {
    font-family: "Noto Sans KR" !important;
}

.gs-bundle-of-buttons {
    position: absolute;
    top:10px;
    right:15px;
}

.gs-bundle-of-buttons .v-btn {
    margin-right:10px;
}

.gs-query-search-btn {
    border-radius:5px;
    max-width:100px;
    position: absolute;
    right:10px;
    bottom:10px;
}

.dialog-sub-title {
    font-size:15px;
    font-weight:700;
    margin-top:15px;
    color:black;
}

.my-divider {
    background-color:#0D6EFD;
    opacity:100 !important;
    margin:5px 0 15px 0px;
}

.v-dialog:not(.v-dialog--fullscreen) {
    max-height:100% !important;
}

.label-title {
    font-size:14px;
    font-weight:500;
    width:120px;
    line-height:26px;
    color:black;
    margin-right:5px;
}

.v-input--selection-controls {
    margin:0 !important;
    padding:0 !important;
}

/*다이얼로그에 스크롤 생기는 문제 해결하기위해 추가 */
.row {
    --bs-gutter-x:0 !important;
    --bs-gutter-y:0 !important
}


/* 시작 모든 텍스트필드 관련 변경 */
.theme--light.v-text-field--outlined:not(.v-input--is-focused):not(.v-input--has-state) > .v-input__control > .v-input__slot fieldset {
    height:34px !important;
}

.v-text-field--outlined > .v-input__control > .v-input__slot{
    min-height: 34px !important;
}

.v-text-field.v-text-field--enclosed .v-text-field__details {
    display:none;
}


.v-text-field--outlined .v-label {
    top:5px !important;
}
/* 끝 모든 텍스트필드 관련 변경 */

.detail-title {
    margin-left:15px;
    color:black;
    font-size:14px;
    font-weight:700;
}

.search-label {
    margin:-30px 0px 5px 15px;
    font-size: 14px;
    font-weight: 500;
    color: black;
}

.picker:nth-child(2n) {
    padding-left: 10px;
}

.detail-picker:nth-child(2n) {
    padding-left: 10px;
}

.detail-picker:nth-child(odd) {
    padding-left: 15px;
}

/* 라우터 경로 표시 스타일 */
.hierarchy {
    position: absolute;
    top:15px;
    left:25px;
    font-size:18px;
}

.hierarchy div {
    display:inline-block;
}

.hierarchy > div:nth-child(1) {
    opacity: 0.7;
}

.save-btn {
    width:64px;
}


/* 전역 background-color */
.v-application {
    background-color:  !important;
}

/* 오토 모델링으로 생성된 color들을 class를 이용해서 color 색상 적용 */
/* .surface-color {
    color: 
}

.main-text-color {
    color: 
}

.secondary-text-color {
    color: 
}

.primary-color {
    color: 
}

.primary-darken-1-color {
    color: 
}

.secondary-color {
    color: 
}

.secondary-darken-1-color {
    color: 
} */